source https://www.nuget.org/api/v2/

group Analyzers
  source http://nuget.org/api/v2
  nuget AsyncUsageAnalyzers
  nuget IDisposableAnalyzers
  nuget StyleCop.Analyzers
  nuget Gu.Analyzers
  nuget PropertyChangedAnalyzers
  nuget WpfAnalyzers
